<div ng-if="vm.fundstat!=undefined" class="panel panel-default">

    <div class="panel-heading"> {{vm.fundstat.title}}</div>
    <div class="panel-body">
        <div class="row" >
            <div class="col-md-4" >
                <div class="card" style="background-color: rgba(255,87,34,0.6) ; height: 150px">
                    <div >
                        <div class="row" >
                            <div class="col-md-5" style="padding: 25px; font-size: 80px;color: white" >
                              <span  class="fa fa-users"></span>
                            </div>
                            <div class="col-md-5" style="padding: 25px; font-size: 30px;color: white"  >
                               <div class="row">
                                <div class="text-center" >تعداد اعضا</div>
                                <div class="text-center" >{{vm.fundstat.membersCount}}نفر
                                </div>
                               </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="card" style="background-color: rgba(76,175,80,0.75) ; height: 150px">
                    <div >
                        <div class="row" >
                            <div class="col-md-5" style="padding: 25px; font-size: 80px;color: white" >
                                <span  class="fa fa-money"></span>
                            </div>
                            <div class="col-md-5" style="padding: 25px; font-size: 25px;color: white"  >
                                <div class="row">
                                    <div class="text-center" >موجودی صندوق</div>
                                    <div class="text-center" >{{vm.fundstat.fundCredit}}تومان
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="card" style="background-color: rgba(255,167,34,0.7) ; height: 150px">
                    <div >
                        <div class="row" >
                            <div class="col-md-5" style="padding: 25px; font-size: 80px;color: white" >
                                <span  class="fa fa-calendar-o"></span>
                            </div>
                            <div class="col-md-5" style="padding: 25px; font-size: 30px;color: white"  >
                                <div class="row">
                                    <div class="text-center" > دوره جاری </div>
                                    <div class="text-center" >{{vm.fundstat.currentDuration.title}}
                                    <div class="text-center" >{{vm.fundstat.currentIteration.title}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
      <div class="row" >
          <div class="col-md-11" >
              <h2>وضعیت پرداخت اعضا</h2>
              <table class="jh-table table table-striped">
                  <thead>
                  <tr >
                      <th style="width: 200px" >وضعیت پرداخت</th>
                      <th>مشخصات اعضا</th>
                      <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="member in vm.fundstat.members ">
                      <td>
                          <span ng-if="!member.hasPaid" style="color: #7f5050" > پرداخت نشده </span>
                          <span ng-if="member.hasPaid" class="fa fa-check" style="font-size: 20px;color: #00c853"></span> </td>
                      <td>{{member.name +' '+member.lastName}}</td>
                      <td >

                      </td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>


    </div>
    <div class="panel-footer text-center">

        <button style="font-size: 30px" ng-click="vm.gotoPayment()" class="btn btn-success"  >
            <span class="fa fa-share-square-o"></span>
            پرداخت مبلغ ماهیانه وام
        </button>

    </div>
</div>
